body {
    background-color: lightgray;
}

h1 {
    color:blue
}

h2 {
    color:#BA521F}

h3 {
    color:rgb(120,234,88)
}

p {
    color: red;
    background-color: green;
}

img {
    height: 100px;
    width: 100px;
}